.cr-d3TreeMapChart {
  .legendsList {
    height: calc(100vh - 140px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: -25px;
    //
    padding-left: 1rem;
    display: inline-block;
    position: absolute;
  }

  .divlegend {
    width: 100%;
    display: flex;
    .sqaurediv {
      padding-right: 0.5rem;
      padding-top: 3px;
      div {
        height: 10px;
        width: 10px;
      }
    }
    .textdiv {
      line-height: 1rem;
      text-align: left;
      Span {
        font-size: 0.8em;
        white-space: break-spaces;
        display: block;
      }
    }
  }
}
