.cr-myCard {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: block;
  vertical-align: top;
  & .divTitle {
    width: 80%;
    padding: 15px 0px 0px 15px;
    font-weight: 400;
    & .titleSelection {
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-align: left;
      overflow-wrap: break-word;
      color: $cardTitle;
      // this stops wordbreaks
      // white-space: nowrap;
      //
    }
  }

  @include sm {
    & .divTitle {
      width: 75%;
    }
  }
}

.activist-shorts {
  min-width: 1000px !important;
  width: 80% !important;
  max-width: 80% !important;
}

.excelAdjust {
  // position: absolute;
  // top: 15px;
  // right: 10px;
  font-size: $main-nav-items;
  color: $excelbutton;
  border: none;
  text-decoration: underline;
  background-color: transparent;
  &:hover {
    transform: none;
    color: $primary !important;
  }
}

.cr-latestFilings {
  .CardFullTitle {
    .ag-header-cell {
      padding-left: 12px;
      padding-right: 12px;
    }
    .ag-paging-row-summary-panel {
      margin: 0 0 0 10px;
    }
    .ag-paging-description {
      margin: 0;
    }
  }
  .cardHeightSamePDF {
    .cr-myCard {
      .cardTitle {
        height: 160px;
      }
      @media print {
        h3 {
          font-size: 18px !important;
        }
      }
    }
  }
}

// #region PDF CSS

.cr-votingPolicyCheker {
  .cr-agGrid {
    .ag-header-cell {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
  }
  & .ag-theme-alpine .ag-row:nth-child(4n + 1) {
    background-color: #ebeef1 !important;
  }
  & .ag-theme-alpine .ag-row:nth-child(4n + 2) {
    background-color: #ebeef1 !important;
  }
  & .ag-theme-alpine .ag-row {
    background-color: white !important;
  }

  & .ag-theme-alpine .ag-row-odd {
    border-top: 0;
  }
}

.cr-VotingVoteDetailPDF {
  .tableborder {
    border: 1px solid #dde2eb !important;
  }
  .oddRowBG {
    background-color: #fcfdff;
  }
  .ptb-2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .fontHeaderData {
    font-size: 11px;
    vertical-align: middle;
  }
  .fontRowData {
    font-size: 11px;
  }
}

// do not comment
.cr-InvestorActivismCampaignPDF {
  .cr-agGrid {
    .ag-header-group-cell {
      .ag-header-group-text {
        font-size: 11px !important;
      }
    }
    .ag-header-cell {
      padding-left: 1px;
      padding-right: 1px;
      text-align: center;
    }
    .ag-header-cell-text {
      font-size: 10px !important;
    }
  }
}
.cr-InvestorActivismCampaign {
  .cr-agGrid {
    .ag-header-group-cell {
      .ag-header-group-text {
        font-size: 14px !important;
      }
    }
    .ag-header-cell {
      padding-left: 4px;
      padding-right: 4px;
      text-align: center;
    }
    .ag-header-cell-text {
      font-size: 14px !important;
    }
  }
}

.cr-ActivismOverviewPDF,
.cr-InvestorActivismInvestment,
.cr-InvestorActivismPerformance {
  .cr-agGrid {
    .ag-header-cell {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
  }
}

.cr-ActivistInvestment,
.cr-VotingQuickview {
  .cr-agGrid {
    .ag-header-cell {
      padding-left: 4px;
      padding-right: 4px;
      text-align: center;
    }
    .ag-header-group-cell {
      .ag-header-group-text {
        font-size: 11px !important;
        line-height: 12px;
        padding-top: 5px;
      }
    }
    .ag-header-row {
      .ag-header-group-cell {
        padding-left: 1px !important;
        padding-right: 0px !important;
      }
    }
    .ag-gridVertically {
      .ag-header-group-cell-label {
        .ag-header-group-text {
          width: 335px;
          margin-left: -159px;
        }
      }
    }
    .ag-header-cell-text {
      font-size: 12px !important;
    }
  }
}

.cr-ActivistCampaignsPDF {
  .tableborder {
    border: 1px solid #dde2eb !important;
  }
  .oddRowBG {
    background-color: #fcfdff;
  }
  .ptb-2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .fontHeaderData {
    font-size: 14px;
    vertical-align: middle;
  }
  .fontRowData {
    font-size: 14px;
  }
  .footer {
    .text-align-end {
      text-align: end;
      padding-right: 2rem;
    }
  }
  .cr-agGrid {
    .ag-header-cell {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
    .ag-header-group-cell {
      .ag-header-group-text {
        font-size: 10px !important;
      }
    }
    .ag-header-cell-text {
      font-size: 11px !important;
      // word-break: break-all;
    }
  }
}

.cr-InvestorVotingByProposal {
  .cr-agGrid {
    .ag-header-cell {
      padding-left: 4px;
      padding-right: 4px;
      text-align: center;
    }
    .ag-header-cell-text {
      font-size: 14px !important;
      word-break: break-all;
    }
    .ag-row-level-1 {
      .ag-cell {
        .ag-row-group-indent-1 {
          padding-left: 15px !important;
        }
      }
    }
    .ag-row-level-2 {
      .ag-cell {
        .ag-row-group-indent-2 {
          margin-left: 10px !important;
          padding-left: 40px !important;
        }
      }
    }
  }
}

.cr-VotingProfileTopSection,
.cr-InvestorVotingProxyContest {
  .cr-agGrid {
    .ag-header-cell {
      padding-left: 4px;
      padding-right: 4px;
      text-align: center;
    }
    .ag-header-cell-text {
      font-size: 11px !important;
    }
  }
}

.cr-governanceDirectorsPDF {
  .cr-agGrid {
    .ag-header-cell {
      padding-left: 2px;
      padding-right: 2px;
      text-align: center;
    }
    .ag-header-cell-text {
      font-size: 10px !important;
    }
  }
}

.cr-governanceDirectors {
  .cr-agGrid {
    .ag-header-cell {
      padding-left: 4px;
      padding-right: 4px;
      text-align: center;
    }
    .ag-header-cell-text {
      font-size: 12px !important;
    }
  }
}

.cr-InvestorActivismDemand {
  .cr-agGrid {
    .ag-header-cell {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
  }
  .tableborder {
    border: 1px solid #dde2eb !important;
  }
  .oddRowBG {
    background-color: #f0f5ff85;
  }
  .ptb-2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .fontHeaderData {
    font-size: 14px;
    vertical-align: middle;
    padding: 8px 0 8px 0;
  }
  .fontRowData {
    font-size: 14px;
    padding: 8px 0 8px 0;
  }
}

.cr-compliance,
.cr-follower_return,
.cr-poisonPill {
  .cr-agGrid {
    .ag-header-cell {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
  }
  .recharts-wrapper {
    .recharts-default-legend {
      height: 8px;
    }
  }
}

.cr-ownershipCompanyPDF,
.cr-ownershipInvestor {
  .cr-agGrid {
    .ag-header-group-cell {
      .ag-header-group-text {
        font-size: 12px !important;
      }
    }
    .ag-header-cell {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
    .ag-header-cell-text {
      font-size: 12px !important;
    }
  }
}

.cr-activistShortsOverview {
  .tableborder {
    border: 1px solid #dde2eb !important;
  }
  .oddRowBG {
    background-color: #fcfdff;
  }
  .ptb-2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .fontHeaderData {
    font-size: 14px;
    vertical-align: middle;
  }
  .fontRowData {
    font-size: 14px;
  }
  .footer {
    .text-align-end {
      text-align: end;
      padding-right: 2rem;
    }
  }
  .cr-agGrid {
    .ag-header-cell {
      padding-left: 8px;
      padding-right: 8px;
      text-align: center;
    }
  }
}

.cr-NoActionLetterComponent {
  .cr-agGrid {
    .ag-header-cell {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
    .ag-header-cell-text {
      font-size: 12px !important;
    }
  }
}
// #endregion

.cr-companyOverview {
  .sumaarycards {
    .cr-myCard {
      .divTitle {
        height: 60px;
        .titleSelection {
          text-align: left;
          color: $cardTitle;
          font-weight: 300;
          font-size: $standard;
          white-space: break-spaces !important;
        }
      }
    }
  }

  .cardoverview table {
    border-collapse: separate;
    // border-spacing: 8px;
    td {
      vertical-align: top;
      padding-bottom: 6px;
    }
  }
}
